.box-footer {
  background: #09171b;
}

/* Верх */
.footer__top-container {
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}

/* Левая часть */
.footer__container-left {
  /*float: left;*/
}

.footer__logo {
  padding-right: 10px;
  font-family: "PlumbBlackSoftC";
}

.footer__logo img {
   height: 50px;
   width: auto;
   margin-right: 5px;
}

.footer__logo-text {
  position: relative;
  top: 5px;
  display: inline-block;
  font-size: 22px;
  color: #fff; 
}


/* Правая часть */
.footer__container-right {
  /*float: right;*/
  padding-top: 8px;
  text-align: center;
}

/* Язык */
.footer__lang-swich {
  display: inline-block;
}


/* Навигация */
.footer__nav-top {
  display: inline-block;
  position: relative;
  top: 8px;
  right: 15px;
}

.footer__nav-top-item .footer__nav-top--link {
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
}

.footer__nav-top-item .footer__nav-top--link:hover {
  background: transparent;
  color: #BEBEBE;
}

/*/ Верх */


/*Средина */
/* Навигация по службам */

.footer__center-container {
  margin-top: 10px;
  color: #fff;
}

.footer__nav-bottom-list {
  margin-left: 0;
  padding-left: 0;
}
    
    
.footer__nav-bottom-list-item {
  list-style-type: none;
  padding: 3px 0;
  font-weight: bold;
}

.footer__nav-bottom-list-item .footer__nav-bottom--link {
  color: #fff;
  padding: 0 10px 0 0;
}

/* Контакты Эмираты */

.footer__contacts-uae-list {
  margin: 0;
  padding-left: 0;
  
}
    

.footer__contacts-uae-list--item-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__contacts-uae-list--item-commercial-enquiries {
  margin-top: 15px;
}

.footer__contacts-uae-list--item {
  list-style-type: none;
}


/* Лого дизайнера */

.footer__logo-creators {
  vertical-align: middle;
  display: table-cell;
}

.footer__logo-design--link,
.footer__logo-developer--link {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 0 #fff;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.footer__box-logo-developer--link {
  display: inline-block;
}

.footer__logo-developer--link {
  background: url(../../images/logo-dev.png);
  background-size: cover;
}

.footer__logo-design--link{
  /*box-shadow: 0 0 0 1px #fff;*/
}

.footer__logo-design--img,
.footer__logo-developer--img {
  width: 100%;
}
/*Нижняя часть*/
.footer__bottom-container {
  color: #fff;
}

.footer__bottom-container a {
  color: #fff;
  text-decoration: underline;
}

.footer__contacts-uae-list--item-link:hover,
.footer__contacts-uae-list--item-link:focus,
.footer__contacts-uae-list--item-link {
  color: #fff;
  text-decoration: underline;
}

/* Отступы */
.footer__nav-bottom-list-item {
  padding-bottom: 5px;
}

.footer__contacts-uae-list--item-location-map {
  margin-top: 15px;
}

.footer__contacts-uae-list--item-location-map--link {
  color: #fff;
  text-decoration: underline;
}

.footer__contacts-uae-list--item-location-map--link:hover {
  color: #fff;
}

.footer__contacts-uae-list--item--mail--maximus-airlines {
  margin: 20px 0;
}

.footer__contacts-uae-list--item-copyright {
  margin-top: 20px;
}

 .footer__contacts-uae-list--item-location-map--link:hover,
 .footer__contacts-uae-list--item-location-map--link {
   color: #fff;
   text-decoration: underline;
 }
 
 .footer__counter {
   margin-top: 40px;
   max-width: 105px;
   min-width: 100px;
   padding: 5px;
   border: 1px solid darkgray;
   font-size: 11px;
 }
 
 
 .footer__counter-visits--mame,
 .footer__counter-visitors--mame {
   display: inline-block;
   margin-right: 10px;
   width: 60px;
 }
 
 .footer__counter-visits--count,
 .footer__counter-visitors--count {
   display: inline-block;
 }