.voluntary-posts-send {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.voluntary-posts-send .voluntary-posts-send__departments,
.voluntary-posts-send__content,
.voluntary-posts-send__name {
    width: 100%;
}

.voluntary-posts-send__content {
    min-height: 150px;
}


.voluntary-posts-send__btn-send {
    padding: 15px 15px;
    margin-top: 10px;
}


.a-voluntary-posts .a-voluntary-posts__comment-corrective-actions {
    height: 300px;
}

.voluntary-posts__title  {
    width: 30%;
}


.captcha-maskedinput-text { 
    font-size: 18px;
    font-weight: bold;
  -moz-user-select: none; 
  -o-user-select:none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.a-voluntary-posts-edit__title {
    width: 30%;
}